################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AStarProjectDLL/.vs/AStarProjectDLL/v15/Browse.VC.opendb
